.NavigationItems {
  display: flex;
  list-style: none;
  margin-right: 50px;
  margin-left: auto;
  /* border: 2px solid #000; */
}

@media (max-width: 1100px) {
  .NavigationItems {
    flex-flow: column;
    margin-right: 10px;
    width: 100%;
  }
}
