.Modal {
  /* This way it could be display flex or grid or whatever also. */
  display: block;

  /* Probably need media queries here */
  width: 600px;
  max-width: 100%;

  height: 400px;
  max-height: 100%;

  position: fixed;

  z-index: 100;

  left: 50%;
  top: 50%;

  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);

  /* If known, negative margins are probably better (less chance of blurry text). */
  /* margin: -200px 0 0 -200px; */

  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);

  padding: 10px;
  border-radius: 3px;
}

.Header {
  display: inline-block;
  width: 100%;
}

.Header:after {
  display: block;
  height: 2px;
  background-color: #f7d8aa;
  content: " ";
  margin: 35px 0px 0px 0px;
}

.Title {
  display: block;
  float: left;
  padding: 0px 15px;
}

.Title h3 {
  display: inline-block;
  font-weight: 300;
  font-size: 125%;
  text-transform: uppercase;
}

.CloseButton {
  float: right;
  background-color: red;
  border: none;
  padding: 2px 7px;
  margin-right: 15px;
}

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;

  background: rgba(0, 0, 0, 0.6);
}
