.Toolbar {
  margin-top: -5px;
}

.Row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  /* border: 1px solid black; */
}

.Shadow {
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.5);
}

.Heading {
  font-weight: 300;
  text-transform: uppercase;
  margin: 10px 0 20px 25px;
  color: #000;
  font-size: 200%;
  word-spacing: 3px;
}

@media (max-width: 1100px) {
  .DesktopOnly {
    display: none;
  }
  .Toolbar nav {
    display: none;
  }
}
