* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:hover,
*:active {
  outline: none;
}

html,
body {
  background-color: #f7d8aa;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  /* margin-left: 1vw; */
  /* width: 98vw; */
  width: 99vw;
  height: 100vh;
  background: url(./Dastkar_LOGO_BG.png);
  background-repeat: no-repeat;
  background-position: bottom -400px right -400px;
  background-attachment: fixed;
  margin-left: 0.5vw;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.row {
  max-width: 95vw;
  margin: 0.7% auto;
}

header {
  width: 100%;
  background-color: #e67e22;

  padding-top: 10px;
}

.heading {
  float: left;
}

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #000;
  font-size: 200%;
  word-spacing: 3px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.box {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  width: 100%;
  box-shadow: 3px 3px 15px 1px;
  padding: 15px;
}

.select-css {
  display: block;
  font-size: 75%;
  color: #444;
  font-weight: 300;
  /* line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em; */
  padding: 5px;
  width: 75%;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  text-decoration: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%; */
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-css option {
  font-weight: normal;
}

/* ---- Tables ---- */

table {
  /* border: 1px solid #000; */
  width: 95%;
  margin-left: 2.5%;
  box-shadow: 3px 3px 10px 1px;
  border-spacing: 0px;
  border-radius: 5px;
  font-size: 75%;
  padding: 10px;
  border-style: hidden;
  background-color: #fff;
  max-height: 500px;
  display: table;
}

table thead,
table tbody {
  width: 100%;
}

table thead {
  overflow-y: scroll;
  display: table;
  table-layout: fixed;
  width: 100%; /* assuming scrollbar width as 16px */
  text-align: center;
}

table tbody {
  overflow: auto;
  display: block;
}

table tr {
  margin-left: 2.5%;
  width: 95%;
  text-align: left;
  display: table;
  table-layout: fixed;
}

thead tr th {
  border-bottom: 0.5px solid rgb(136, 136, 136);
  padding: 10px 0px;
  text-align: center;
}

td {
  border-bottom: 0.5px solid rgb(136, 136, 136);
  padding: 10px 0px;
  text-align: center;
}

tr:last-child > td {
  border-bottom: none;
}

/* ---- Forms ---- */

form {
  margin: 5px 10px;
}

form:after {
  display: block;
  height: 2px;
  background-color: #d3973d;
  content: " ";
  margin: 10px auto;
  width: 100%;
}

label {
  margin-top: 3px;
  float: right;
}

.label-value {
  float: left;
}

input[type="text"],
input[type="password"] {
  width: 75%;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 80%;
  font-weight: 350;
  margin-top: 0;
}

input:placeholder-shown,
textarea:placeholder-shown {
  font-size: 80%;
  font-weight: 200;
  font-style: italic;
}

input[type="submit"] {
  float: right;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 100px;
  background-color: #f7d8aa;
  border: 1px solid #ffc165;
  color: #000;
  margin: 10px 10px 0 0;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #6ff56a;
  border: 1px solid #37a833;
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  /* overflow: hidden;
  position: absolute;
  z-index: -1; */
  /* transition: background-color 0.2s, border 0.2s, color 0.2s; */
}

.upload-button {
  float: left;
  font-size: 85%;
  font-weight: 300;
  background-color: #f7d8aa;
  border: 1px solid #ffc165;
  border-radius: 5px;
  padding: 5px 15px 2px 5px;
  color: #000;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  margin-top: 15px;
}

.upload-button:focus,
.upload-button:hover {
  background-color: red;
  border: 1px solid #37a833;
  color: #fff;
}

.upload-icon {
  font-size: 150%;
  border-right: 1px solid #fff;
  padding-right: 10px;
  margin-right: 10px;
}

textarea {
  resize: none;
  width: 75%;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 80%;
  font-weight: 350;
  margin-top: 0;
}

/* --- Main Navigation --- */

.main-nav {
  float: right;
  list-style: none;
  margin-top: 10px;
  margin-right: 30px;
  /* border: 2px solid #000; */
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  /* padding: 8px 0; */
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80%;
  border-bottom: 2px solid transparent;
  vertical-align: middle;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #924909;
}

.nav-icon {
  font-size: 32px;
}

section {
  padding: 50px 0;
}

h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h3:after {
  display: block;
  height: 2px;
  background-color: #f7d8aa;
  content: " ";
  margin: 10px auto;
}

/* --- Login Section --- */

.section-login {
  display: block;
}

.login-box {
  margin-left: 5%;
  background-color: #fff;
}

.login-box input {
  margin-left: 5px;
  margin-bottom: 10px;
}

.login-with-google {
  margin: 5px;
  float: left;
}

.login-with-google a {
  text-decoration: none;
  background-color: red;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid rgb(122, 0, 0);
  height: 40px;
  display: inline-block;
}

.login-with-google a:link,
.login-with-google a:visited {
  background-color: #f7d8aa;
  border: 1px solid #ffc165;
  color: #000;
  transition: all 0.2s;
}

.login-with-google a:hover,
.login-with-google a:active {
  font-weight: 600;
  background-color: red;
  color: #fff;
  border: 1px solid rgb(122, 0, 0);
}

.login-google-icon {
  border-right: 2px solid #fff;
  padding-right: 10px;
  font-size: 20px;
}

.login-with-google span {
  margin-left: 10px;
  font-weight: 300;
  font-size: 115%;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

/* ---- EXHIBITIONS SECTION ---- */

.section-exhibition {
  display: block;
}

/* .add-exhibition-form {
  width: 90%;
}

.modify-exhibition-form {
  width: 90%;
}

.create-artisan-form {
  width: 90%;
} */

/* ---- List of artisans ---- */

.list-artisans {
  width: 75%;
  margin-left: 2px;
}

.list-artisans tbody {
  height: 200px;
  width: 100%;
}

.list-artisans .row {
  margin: 0px;
  padding: 0px;
}

.list-artisans-actions-header {
  float: right;
  vertical-align: bottom;
  padding-top: 3px;
}

.col-list-artisans-actions {
  height: 60px;
  width: 60%;
}

.list-artisans-actions {
  padding: 5px 10px;
  margin: 5px 10px;
}
/* .list-artisans-actions a {
  font-size: 150%;
  text-decoration: none;
} */

.verify-icon {
  color: green;
}

.invalid-icon {
  color: red;
}

.delete-icon {
  color: red;
}

.list-artisans-actions a:link,
.list-artisans-actions a:visited {
  font-size: 150%;
  text-decoration: none;
  transition: font-size 0.2s;
}

.list-artisans-actions a:hover,
.list-artisans-actions a:active {
  font-size: 170%;
}

/* ---- FOOTER ---- */

footer {
  background: rgba(128, 78, 3, 0.9);
  height: 250px;
}

footer p {
  color: #fff;
}
.logo-container {
  width: 100%;
  text-align: center;
}

.logo {
  width: 150px;
  height: 150px;
  background-color: #fff;
  -webkit-mask-image: url(./Dastkar_LOGO_BG.png);
  mask-image: url(./Dastkar_LOGO_BG.png);
  -webkit-mask-size: 150px;
  mask-size: 150px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: top center;
  -webkit-mask-position: top center;
  background-size: 150px;
  background-repeat: no-repeat;
  display: inline-block;
}

.social-links {
  list-style: none;
  float: right;
}

.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.social-links li a:hover,
.social-links li a:active {
  color: #000;
}

.footer-social {
  font-size: 30px;
}

.footer-text {
  color: #fff;
  font-size: 75%;
  font-weight: 100;
  text-align: center;
}

/* ---- TOOLTIP ---- */
/* Tooltip text */

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: 140%;
  left: 50%;
  margin-left: -60px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
