.UpcomingEvents {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  box-shadow: 0px 10px 15px -6px;
  padding: 20px;
  width: 70%;
  margin: 20px 20px;
}

.Heading {
  font-weight: 300;
  font-size: 125%;
  text-transform: uppercase;
}

.Heading:after {
  display: block;
  height: 2px;
  background-color: #f7d8aa;
  content: " ";
  margin: 10px auto;
}

.Carousel{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
}

.Full {
  visibility: visible;
  width: 97%;
}

@media (max-width: 1100px) {
  .Carousel{
    flex-direction: column;
    height: 300px;
    scroll-snap-type: y mandatory;
    padding: 2px;
  }
}
