.NavigationItem {
  display: inline-block;
  margin-left: 40px;
  margin-top: 20px;
}

.NavigationItem a:link,
.NavigationItem a:visited {
  /* padding: 8px 0; */
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80%;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  vertical-align: middle;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.NavigationItem a:hover,
.NavigationItem a:active {
  border-bottom: 2px solid #924909;
}

/* Nav Button */

.NavButton {
  display: inline;
  margin: 0px 10px 10px;
  padding: 5px 0 5px 0;
  border-radius: 5px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.NavButton ion-icon {
  padding: 0 10px;
  font-size: 20px;
}

.IconBorder ion-icon {
  border-right: 2px solid #fff;
}

.NavButton .ButtonText {
  margin-left: 10px;
  padding-right: 10px;
  font-weight: 400;
  font-size: 85%;
  padding-top: 0px;
  vertical-align: text-top;
}

/* Nav Icon */
.NavIcon ion-icon {
  font-size: 40px;
}
/* ---- TOOLTIP ---- */
/* Tooltip text */

.NavIcon {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
}

.NavIcon .ToolTipText {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: 90%;
  left: 50%;
  margin-left: -60px;
  box-shadow: 0 3px 15px 3px white;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

/* Show the tooltip text when you mouse over the tooltip container */
.NavIcon:hover .ToolTipText {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

@media (max-width: 1100px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }

  .NavigationItem a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active {
    border-bottom: 2px solid #924909;
  }
}
